<span id="loggedinas">
    <a href="@Url.Action("Index", "Home")">
        <img src="@Url.Content("/Assets/Images/Explik-48.png")" alt="logo" style="width:80px; float:left" />
    </a>
    <span style="display:inline;">@Html.LoginStatus()</span>
    @Html.LoginLink("&nbsp;-&nbsp;", "")
</span>