<connectionStrings>
  <add name="Local" connectionString="Server=127.0.0.1;Port=3306;Database=explik;Uid=Admin;Pwd=MyMj&amp;218133;" />
  <add name="Explik" connectionString="Server=127.0.0.1;Port=49365;Database=explik;Uid=azure;Pwd=6#vWHD_$;" />
  <add name="Roadkill" connectionString="Server=127.0.0.1;Port=3306;Database=explik;Uid=Admin;Pwd=Admin;" />
  <add name="Ikoula" connectionString="Server=127.0.0.1;Port=3306;Database=livefre148340fr34204_explik;Uid=livef_explik;Pwd=ExMj&amp;218133;" />
</connectionStrings>