<connectionStrings>
  <add name="Local" connectionString="Server=127.0.0.1;Port=3306;Database=explik;Uid=Admin;Pwd=MyMj&amp;218133;" />
  <add name="Explik" connectionString="Server=127.0.0.1;Port=49365;Database=explik;Uid=azure;Pwd=6#vWHD_$;" />
  <add name="Roadkill" connectionString="server=localhost;user id=Admin;password=Admin;database=explik;" />
  <add name="Ikoula" connectionString="server=127.0.0.1;port=3306;database=livefre148340fr34204_explik;user id=livef_explik;password=ExMj&amp;218133;" />
</connectionStrings>