<?xml version="1.0" encoding="utf-8" ?>
<roadkill adminRoleName="Admin" attachmentsFolder="~/App_Data/Attachments"
 connectionStringName="Roadkill" dataStoreType="MySQL" editorRoleName="Editor"
 ignoreSearchIndexErrors="true" installed="true" logging="textfile,debug" logErrorsOnly="false"
 authors="Explik;Yvan.Monka;Yannick.Sayer;SchoolMouv;digiSchool;Mathrix;PCCL;Paul.Olivier;Monsieur.Petit;LesBonsProfs;hedacademy;Melix.SVT;L'Antiseche;Martine Lefebvre;NovelClass;CoursDePhilo;PhysikRagot"
 smtpFromEmail="noreply@explik.fr" smtpFromPwd="eCw21!v3" smtpServerHost="explik.fr" smtpServerPort ="25"
 useWindowsAuthentication="false" version="2.0.275" />