@model IEnumerable<TextToken>
@{
	Layout = "~/Views/Shared/_Blank.cshtml";
}

<table id="helptable">
	<thead>
		<tr>
            <th colspan="2">
                REFERENCE DU BALISAGE CREOLE
            </th>
		</tr>
	</thead>
	<tr>
		<td class="bold">Gras</td>
        <td>**gras**</td>
	</tr>
	<tr>
		<td class="bold">Italique</td>
        <td>//italique//</td>
	</tr>
	<tr>
		<td class="bold">Exposant</td>
		<td>^^exposant^^</td>
	</tr>
	<tr>
		<td class="bold">Retour à la ligne</td>
		<td>\\</td>
	</tr>
	<tr>
		<td class="bold">Indice</td>
		<td>,,indice,,</td>
	</tr>
	<tr>
		<td class="bold">Ignorer le markup</td>
		<td>{{{Ce n'est pas gras **gras**}}}</td>
	</tr>
	<tr>
		<td class="bold">Titres</td>
        <td>
            =Titre 1=<br />
            ==Titre 2==<br />
            ===Titre 3===<br />
            ====Titre 4====<br />
            =====Titre 5=====<br />
        </td>
	</tr>
	<tr>
		<td class="bold">Liens</td>
        <td>
            Links to [[wiki page]]<br />
            <i>Links to <a href="wiki-page">wiki page</a></i>
            <br /><br />

            Link to [[wiki page|click here]]<br />
            <i>Link to <a href="wiki-page">click here</a></i>
            <br /><br />

            Ceci est [[http://www.yahoo.com|le site Yahoo]]<br />
            <i>Ceci est le site <a href="wiki-page">Yahoo</a></i>
        </td>
	</tr>
	<tr>
		<td class="bold">Images</td>
		<td>
			{{someimage.jpg}}<br />
			{{someimage.jpg|caption}}
		</td>
	</tr>
	<tr>
		<td class="bold">Listes à puces</td>
		<td>
			*point1<br />
			*point2<br />
			**point 2b<br />

			<ul>
                <li>point1</li>
                <li>point2</li>
				<li>
					<ul>
                        <li>point 2b</li>
					</ul>
				</li>
			</ul>
		</td>
	</tr>
    <tr>
        <td class="bold">Listes numérotées</td>
        <td>
            #point 1<br />
            #point 2<br />
            ##point 2b<br />

            <ol>
                <li>point 1</li>
                <li>point 2</li>
                <li>
                    <ol>
                        <li>point 2b</li>
                    </ol>
                </li>
            </ol>
        </td>
    </tr>
	@foreach (TextToken token in Model)
	{
	<tr>
		<td class="bold" title="@token.SearchRegex">@MvcHtmlString.Create(token.Name)</td>
		<td>@MvcHtmlString.Create(token.Description)</td>
	</tr>
	 }
	<tfoot>
		<tr>
		<th colspan="2">
			<a href="http://www.wikicreole.org" target="_blank">Plus d'informations...</a>
		</th>
		</tr>
	</tfoot>
</table>