@model PageViewModel

<div class="modal" id="pagerating" role="dialog" aria-describedby="Contains meta information about the current page">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="default-header">NOT USED NOT USED NOT USED/h4> <!--TODO add a localyzed string -->
            </div>

            <div class="modal-body">
                <div id="newrating" class="container" pageid="@Model.Id" value="5" >
                    <div id="" class="post_rating">
                        
                        <span class="postRating" rating="" title="glagla" pageid="@Model.Id">
                            <span class="rating48 stars48 active star48-left_on" value="1"></span><span class="rating48 stars48 active star48-right_on" value="1"></span><span class="rating48 stars48 active star48-left_on" value="2"></span><span class="rating48 stars48 active star48-right_on" value="2"></span><span class="rating48 stars48 active star48-left_on" value="3"></span><span class="rating48 stars48 active star48-right_on" value="3"></span><span class="rating48 stars48 active star48-left_on" value="4"></span><span class="rating48 stars48 active star48-right_on" value="4"></span><span class="rating48 stars48 active star48-left_on" value="5"></span><span class="rating48 stars48 active star48-right_on" value="5"></span>
                            <span>rate = x/5 very useful</span>
                        </span>

                    </div>
                </div>
                <div class="row">
                    <label for="HeadContent">@SiteStrings.Page_Add_Your_Comment</label>
                    <textarea id="commentarea" name="Comment" tabindex="0" class="form-control" rows="6" cols="20" rel="popover" data-content="Any additional HTML or scripts you enter here will be added to the &amp;lt;head&amp;gt; tag of the page." placeholder="Enter a comment - optional"></textarea> <!--localization-->
                </div>
            </div>

            <div class="modal-footer">
                <button id="buttonrating" type="button" data-dismiss="modal" class="btn btn-primary">@SiteStrings.Button_Confirm</button>
            </div>
        </div>
    </div>
</div>